<div class="container-fluid d-flex justify-content-center">
  <img src="assets/palaboy.png" />
</div>
<div class="container-fluid pb-5 row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center"><b>PALABOY: an Animated Shortfilm</b></h1>
    <p class="text-justify">
      Palaboy is an animated short film about a stray dog and its journey to
      survive daily life by scavenging for food and looking for shelter until it
      was adopted by an empathetic crew of a fast-food restaurant. The main
      objective of this film is to create an educational animated tale that will
      raise awareness about the current phenomenon of homeless animals and how
      to help them in a variety of methods.
    </p>
  </div>
  <div class="container-fluid d-flex justify-content-center">
    <img src="assets/fairy.png" />
  </div>
  <div class="col-md-8">
    <h1 class="text-center py-4"><b>Meet the team behind PALABOY!</b></h1>
  </div>
  <div class="col-md-10 row">
    <div class="col-md-3 p-3">
      <img
        src="assets/elaine.png"
        class="rounded-circle w-100 border border-dark"
      />
      <p class="text-center fs-2">Elaine Rose Urbano</p>
      <p class="text-center">UI/UX Designer</p>
    </div>
    <div class="col-md-3 p-3">
      <img
        src="assets/romyr.png"
        class="rounded-circle w-100 border border-dark"
      />
      <p class="text-center fs-2">Romyr Guingoma</p>
      <p class="text-center">Writer/Technical Developer</p>
    </div>
    <div class="col-md-3 p-3">
      <img
        src="assets/stacy.png"
        class="rounded-circle w-100 border border-dark"
      />
      <p class="text-center fs-2">Stacy Mae Cuenca</p>
      <p class="text-center">Project Manager</p>
    </div>
    <div class="col-md-3 p-3">
      <img
        src="assets/kristine.png"
        class="rounded-circle w-100 border border-dark"
      />
      <p class="text-center fs-2">Kristine Angela Biag</p>
      <p class="text-center">Software Developer</p>
    </div>
  </div>
</div>
<app-footer></app-footer>