<div class="main-container">
        <div class="text-contact-us"><h1>Contact Us</h1></div>
        <div class="contact-container">
                <div class="organization">
                        <div class="logo">
                                <img src="assets/fairylogo.png" alt="">
                        </div>
                        <div class="contacts">
                                <div class="email">
                                        <img src="assets/mail.png" alt="">
                                        <p>EYFairies@gmail.com</p>
                                </div>
                                <div class="location">
                                        <img src="assets/location.png" alt="">
                                        <p>551 M.F. Jhocson St. Sampaloc, Manila, PH 1008 </p>
                                </div>
                        </div>
                </div>
                <div class="organization">
                        <div class="logo">
                                <img src="assets/nulogo.png" alt="">
                        </div>
                        <div class="contacts">
                                <div class="email">
                                        <img src="assets/mail.png" alt="">
                                        <p>EYFairies@gmail.com</p>
                                </div>
                                <div class="location">
                                        <img src="assets/location.png" alt="">
                                        <p>551 M.F. Jhocson St. Sampaloc, Manila, PH 1008 </p>
                                </div>
                        </div>
                </div>
                <div class="organization">
                        <div class="logo">
                                <img src="assets/clientlogo.png" alt="">
                        </div>
                        <div class="contacts">
                                <div class="email">
                                        <img src="assets/mail.png" alt="">
                                        <p>EYFairies@gmail.com</p>
                                </div>
                                <div class="location">
                                        <img src="assets/facebook.png" alt="">
                                        <p>@AnimalRescueRehabilitation</p>
                                </div>
                                <div class="location">
                                        <img src="assets/web.png" alt="">
                                        <p>arrfdavao.helixpay.ph</p>
                                </div>
                        </div>
                </div>
        </div>
</div>
<app-footer></app-footer>