<div class="container-fluid p-5 row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center"><b>PALABOY: an Animated Shortfilm</b></h1>
    <p class="text-center"><b>by EY Fairies</b></p>
    <p class="text-justify">
      Palaboy is an animated short film about a stray dog and its journey to
      survive daily life by scavenging for food and looking for shelter until it
      was adopted by an empathetic crew of a fast-food restaurant. The main
      objective of this film is to create an educational animated tale that will
      raise awareness about the current phenomenon of homeless animals and how
      to help them in a variety of methods.
    </p>
  </div>
  <div class="container-fluid d-flex justify-content-center p-3">
    <!-- <iframe width="1600" height="700" src="https://www.youtube.com/embed/52TeeLaqxqU?si=7oOWPh7hR-YMsdJD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    <video width="1600" height="700" controls>
      <source src="assets/scene 1.mp4" type="video/mp4">
      
      Your browser does not support the video tag.
    </video>
    
  </div>
  <div class="container-fluid d-flex justify-content-center p-3">
    <img src="assets/palaboy.png" />
  </div>
</div>
<app-footer></app-footer>